.block-contact .contact-item {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.block-contact .contact-item svg {
    margin-right: 1rem;
}

.contact-item-phone {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.contact-item-email {
    margin-bottom: 1rem;
}
