.desc_block h2 {
    font-family: "Poppins", Arial, Helvetica, sans-serif !important;
    font-size: 20px;
}

.desc_block h3 {
    font-family: "Poppins", Arial, Helvetica, sans-serif !important;
    font-size: 16px;
}

.desc_block p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 15px;
}