main {
  background-color: #f3f5f7;
}

.page-index #_desktop_top_menu {
  background-color: #f3f5f7;
  border-top: 2px solid #f3f5f7 !important;
  border-bottom: 2px solid #f3f5f7 !important;
}

.yt-preview-container {
  background-color: white;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 2rem 0;
  margin-bottom: 4rem;
}

.yt-preview-container > * {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
}

.sticky_menu .menu {
  background-color: white !important;
}

@media (max-width: 768px) {
  #header {
    background-color: #f3f5f7 !important;
  }
}

@media (min-width: 768px) {
  .yt-preview-container {
    padding: 4rem 0;
  }

  .yt-preview-container > * {
    /* padding-left: 2rem;
    padding-right: 2rem; */
  }

  header {
    background-color: #0f85fa !important;
  }
}
