.wishlist-button-add {
  display: none !important;
}

.add-to-card .add-to-card-icon {
  font-size: 19px;
  position: relative;
  top: -1px;
  color: black;
}

.add-to-card {
  position: absolute;
  z-index: 8;
  top: 12px;
  right: 22px;
  height: 30px;
  width: 30px;
  min-width: 30px;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 20%);
  opacity: 1;
  transition: opacity 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  padding-top: 0.1875rem;
  background-color: #fff;
  box-shadow: 0.125rem -0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-out;
  border: none;
}

.add-to-card:hover {
  background-color: #f47021;
  color: white;
}

.availability span {
  font-size: 13px;
  color: #8c8c8c;
  font-weight: 400;
}

.product-description .product-title {
  height: auto !important;
}

.product-price-and-shipping span.price {
  font-size: 16px;
}
