#whatsapp-chat-footer {
position: fixed;
z-index: 998;
}

#whatsapp-chat-footer a {
display: block;
text-align: center;
width: 50px;
height: 50px;
line-height: 50px;
border-radius: 50%;
font-size: 30px;
background-color: #25d366;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#whatsapp-chat-footer a:before {
content: "\f232";
color: #fff;
display: inline-block;
font-family: "FontAwesome";
font-weight: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

#whatsapp-chat-footer a span {
display: none;
}

/*** Button style ***/
/* Pulse */
#whatsapp-chat-footer.style_pulse a {
box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
transform: scale(1);
animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/*** Button position ***/
/* Top right */
#whatsapp-chat-footer.position_top_right {
top: 58px;
right: 20px;
-webkit-transition: top 0.5s ease-in-out;
-moz-transition: top 0.5s ease-in-out;
-o-transition: top 0.5s ease-in-out;
}

.stickycart_yes.sticky_cart #whatsapp-chat-footer.position_top_right {
display: block;
top: 120px;
}

/* Top left */
#whatsapp-chat-footer.position_top_left {
top: 58px;
left: 20px;
}

/* Bottom right */
#whatsapp-chat-footer.position_bottom_right {
bottom: 20px;
right: 20px;
-webkit-transition: bottom 0.5s ease-in-out;
-moz-transition: bottom 0.5s ease-in-out;
-o-transition: bottom 0.5s ease-in-out;
}

.sticky_menu #whatsapp-chat-footer.position_bottom_right {
bottom: 84px;
}

/* Bottom left */
#whatsapp-chat-footer.position_bottom_left {
bottom: 20px;
left: 20px;
}

/*** Button size ***/
/* 40px */
#whatsapp-chat-footer.size_40px a {
width: 40px;
height: 40px;
line-height: 40px;
font-size: 26px;
}

/* 50px */
#whatsapp-chat-footer.size_50px a {
width: 50px;
height: 50px;
line-height: 50px;
font-size: 30px;
}

/* 60px */
#whatsapp-chat-footer.size_60px a {
width: 60px;
height: 60px;
line-height: 60px;
font-size: 40px;
}

/* 60px */
#whatsapp-chat-footer.size_70px a {
width: 70px;
height: 70px;
line-height: 70px;
font-size: 50px;
}

/* 60px */
#whatsapp-chat-footer.size_80px a {
width: 80px;
height: 80px;
line-height: 80px;
font-size: 60px;
}


/* Product page */
.block-social {
margin-bottom: 10px;
}

a.whatsapp_button {
display: inline-block;
clear: both;
padding: 10px 14px;
font-weight: bold;
color: #ffffff;
background: #25d366;
}

a.whatsapp_button i {
color: #ffffff;
margin-right: 8px;
font-size: 20px;
vertical-align: -3px;
}

.quickview a.whatsapp_button {
display: none;
}
